<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PacientesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PacientesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44337/Pacientes.asmx" binding="basicHttpBinding"
                bindingConfiguration="PacientesSoap" contract="ServiceReference1.PacientesSoap"
                name="PacientesSoap" />
        </client>
    </system.serviceModel>
</configuration>